{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-[#E3CAA5] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="border border-gray-300 bg-white rounded-md p-6">
      <!-- LOGO -->
       <div class="flex justify-center mb-2">
        <img src="{% static 'image/logo.png' %}" alt="Second Chapters Logo" class="h-16 w-auto"/>
       </div>

      <div>
        <h2 class="mt-6 text-center text-black text-3xl font-extrabold text-gray-900">
          Second Chapters <3
        </h2>
      </div>
      <form class="mt-8 space-y-6" method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-[#F8EDE3] focus:border-[#F8EDE3] focus:z-10 sm:text-sm" placeholder="Username">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-[#F8EDE3] focus:border-[#F8EDE3] focus:z-10 sm:text-sm" placeholder="Password">
          </div>
        </div>
  
        <div class="flex items-center">
          <button type="submit" class="group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#C1CFA1]   
          hover:bg-[#A5B68D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black mr-4">
            Masuk
          </button>
          <p class="text-sm text-black">Belum punya akun? <a href="{% url 'main:register' %}" class="font-medium text-[#DFD3C3] hover:text-[#D9ABAB]">
              Daftar sekarang!
            </a></p>
        </div>
      </form>
  
      {% if messages %}
      <div class="mt-4">
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">{{ message }}</span>
        </div>
        {% elif message.tags == "error" %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">{{ message }}</span>
        </div>
        {% else %}
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}